DATA COLLECTION AND PREPARATION PHASE

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import warnings
warnings.filterwarnings('ignore')

Let's first see the pre downloaded datasets

1. District Wise Crimes Committed

In [2]:
df1 = pd.read_csv("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\India_Crime - Copy\\01_District_wise_crimes_committed_IPC_2001_2012.csv")
df1

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

2. District Wise Crimes Committed against SCs

In [3]:
df2 = pd.read_csv("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\India_Crime - Copy\\02_01_District_wise_crimes_committed_against_SC_2001_2012.csv")
df2

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,1,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,1,0,0,0,0,0,0,1,20,1
9017,PUDUCHERRY,TOTAL,2012,2,0,0,0,0,0,0,1,20,1

3. District Wise Crimes Committed Against STs

In [4]:
df3 = pd.read_csv("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\India_Crime - Copy\\02_District_wise_crimes_committed_against_ST_2001_2012.csv")
df3

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,0,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,TOTAL,2012,0,0,0,0,0,0,0,0,0,0

4. District Wise Crimes Committed Against Children

In [5]:
df4 = pd.read_csv("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\India_Crime - Copy\\03_District_wise_crimes_committed_against_children_2001_2012.csv")
df4

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9012,PUDUCHERRY,KARAIKAL,2012,0.0,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7
9013,PUDUCHERRY,PUDUCHERRY,2012,0.0,4.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,25
9014,PUDUCHERRY,TOTAL,2012,0.0,7.0,18.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,32

5. Juveniles Apprehended

In [6]:
df5 = pd.read_csv("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\India_Crime - Copy\\08_01_Juvenile_apprehended_state_IPC_2001_2010.csv")
df5

,STATE/UT,Year,CRIME,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total
0,Andhra Pradesh,2001,Murder,3,0,7,0,5,0,15,0,15
1,Andhra Pradesh,2001,Attempt to Commit Murder,2,0,0,0,11,0,13,0,13
2,Andhra Pradesh,2001,C H Not amounting to Murder,0,0,0,0,0,0,0,0,0
3,Andhra Pradesh,2001,Rape,2,0,15,0,2,1,19,1,20
4,Andhra Pradesh,2001,Custodial Rape,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10495,Puducherry,2010,Cruelty by Husband or Relatives,0,0,0,0,0,0,0,0,0
10496,Puducherry,2010,Importation of girls from Foreign Countr,0,0,0,0,0,0,0,0,0
10497,Puducherry,2010,Causing death by negligence,0,0,0,0,0,0,0,0,0
10498,Puducherry,2010,Other IPC Crimes,0,0,1,0,2,3,3,3,6
10499,Puducherry,2010,Total IPC Crimes,0,0,8,0,31,4,39,4,43

6. Property Stolen and Recovered

In [7]:
df6 = pd.read_csv("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\India_Crime - Copy\\11_Property_stolen_and_recovered_nature_of_property_2001_2010.csv")
df6

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen
0,Andaman & Nicobar Islands,2001,Cattle - Property,2. Cattle,0,1,0,1000
1,Andhra Pradesh,2001,Cattle - Property,2. Cattle,448,580,6490596,7233876
2,Arunachal Pradesh,2001,Cattle - Property,2. Cattle,22,34,135500,704500
3,Assam,2001,Cattle - Property,2. Cattle,149,322,683350,1816386
4,Bihar,2001,Cattle - Property,2. Cattle,144,334,896019,1911068
...,...,...,...,...,...,...,...,...
4545,Tamil Nadu,2010,Total Property(Nature),Total Property Stolen & Recovered,16125,21509,660311804,1317919190
4546,Tripura,2010,Total Property(Nature),Total Property Stolen & Recovered,192,879,5666102,33032746
4547,Uttar Pradesh,2010,Total Property(Nature),Total Property Stolen & Recovered,9130,35068,577591772,1442670414
4548,Uttarakhand,2010,Total Property(Nature),Total Property Stolen & Recovered,964,2234,47135685,123398840
4549,West Bengal,2010,Total Property(Nature),Total Property Stolen & Recovered,4548,23759,1168242161,5015168687

7. Police Killed or Injured

In [9]:
df7 = pd.read_csv("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\India_Crime - Copy\\13_Police_killed_or_injured_on_duty2001_2010.csv")
df7

,Area_Name,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,Police_Injured_Total_Policemen,Police_Killed_By_Criminals,Police_Killed_By_Riotous_Mobs,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Andhra Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,3,4,1,3,0,11,0,0,2,0,3,0,5
2,Arunachal Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Assam,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,1,0,1,0,0,1,0,0,0,1
4,Bihar,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,1,0,0,0,2,0,3,0,0,0,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,Tamil Nadu,2010,Police - Total,7. Total Police Killed or Injured,10,26,142,4,0,0,182,2,0,65,0,0,0,67
2446,Tripura,2010,Police - Total,7. Total Police Killed or Injured,0,0,0,0,2,0,2,0,0,0,0,0,2,2
2447,Uttar Pradesh,2010,Police - Total,7. Total Police Killed or Injured,6,10,9,10,0,8,43,2,1,101,0,0,1,105
2448,Uttarakhand,2010,Police - Total,7. Total Police Killed or Injured,0,0,5,0,0,0,5,0,0,15,0,0,0,15
2449,West Bengal,2010,Police - Total,7. Total Police Killed or Injured,17,265,86,23,21,0,412,2,0,20,1,2,0,25

8. Cases Reported against Value of Property Stolen

In [10]:
df8 = pd.read_csv("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\India_Crime - Copy\\17_Case_reported_and_value_of_property_taken_away_by_place_of_occurrence_2001_2012.csv")
df8

,STATE/UT,YEAR,Place Of Occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
0,Andhra Pradesh,2001,RESIDENTIAL PREMISES,100,4446961,177,5962460,5158,105324332,4257,53517835
1,Andhra Pradesh,2001,HIGH-WAY,57,5340335,172,6364866,31,2000574,74,1593092
2,Andhra Pradesh,2001,RIVER & SEA,2,145345,11,209330,101,1412516,110,1610200
3,Andhra Pradesh,2001,RAILWAYS,8,1750800,19,304336,6,24392,943,16418110
4,Andhra Pradesh,2001,RUNNING TRAINS,5,75000,3,164000,0,0,296,6170175
...,...,...,...,...,...,...,...,...,...,...,...
4339,Puducherry,2012,BANKS,0,0,0,0,0,0,0,0
4340,Puducherry,2012,COMMERCIAL ESTABLISHMENTS,2,58000,4,197230,26,2117964,20,647043
4341,Puducherry,2012,OTHER PLACES,2,575000,8,113100,4,25500,596,19689249
4342,Puducherry,2012,TOTAL (MANUAL),5,683000,16,2520330,77,12168314,658,23866392
4343,Puducherry,2012,TOTAL COMPUTER FROM 1 TO 7,5,683000,16,2520330,77,12168314,658,23866392

9. Human Rights Violation by Police

In [11]:
df9 = pd.read_csv("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\India_Crime - Copy\\35_Human_rights_violation_by_police_2001_2010.csv")
df9

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted
0,Andhra Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
1,Arunachal Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
2,Assam,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
3,Bihar,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
4,Chandigarh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
...,...,...,...,...,...,...,...
2262,Meghalaya,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),0.0,0.0,0.0
2263,Nagaland,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),0.0,0.0,0.0
2264,Odisha,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),5.0,1.0,0.0
2265,Uttar Pradesh,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),6.0,5.0,0.0
2266,West Bengal,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),1.0,0.0,0.0

10. District Wise Crimes Committed Against Women

In [12]:
df10 = pd.read_csv("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\India_Crime - Copy\\42_District_wise_crimes_committed_against_women_2001_2012.csv")
df10

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,1,0,1,0
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,1,0,1,0
9014,PUDUCHERRY,KARAIKAL,2012,6,2,0,2,0,1,0
9015,PUDUCHERRY,PUDUCHERRY,2012,7,14,0,7,2,5,0
9016,PUDUCHERRY,TOTAL,2012,13,16,0,9,2,6,0

Now, we load some other required data which is integral for our analysis

11. Population of Each State Yearly

In [18]:
df11 = pd.read_excel("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\Final Worksheets\\All Year Population.xlsx")
df11

                        State/UT  Year  Population
0    Andaman and Nicobar Islands  2001      356152
1    Andaman and Nicobar Islands  2002      372096
2    Andaman and Nicobar Islands  2003      388343
3    Andaman and Nicobar Islands  2004      404902
4    Andaman and Nicobar Islands  2005      421779
..                           ...   ...         ...
427                  West Bengal  2008    87363895
428                  West Bengal  2009    88336987
429                  West Bengal  2010    89299017
430                  West Bengal  2011    90251375
431                  West Bengal  2012    91193022

[432 rows x 3 columns]

12. Literacy Rate of All States Annually

In [19]:
df12 = pd.read_excel("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\Final Worksheets\\Literacy_Rate_2001_2012.xlsx")
df12

,Unnamed: 0,State/UT,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012\t\t\t\t\t\t\t
0,0,A & N ISLANDS,81.30,81.42,81.55,81.67,81.79,81.92,82.04,82.17,82.29,82.42,86.05,86.63\t\t\t\t\t\t\t
1,1,Andhra Pradesh,60.47,62.66,64.84,66.11,67.39,68.68,69.97,71.26,72.55,73.84,67.02,-\t\t\t\t\t\t\t
2,2,Arunachal Pradesh,54.34,56.94,59.54,62.15,64.75,67.36,69.96,72.57,75.17,77.77,65.38,-\t\t\t\t\t\t\t
3,3,Assam,63.25,66.59,69.92,73.25,76.58,79.91,83.24,86.57,89.90,93.23,72.19,-\t\t\t\t\t\t\t
4,4,Bihar,47.00,49.66,52.33,54.99,57.66,60.33,63.00,65.67,68.34,71.01,61.80,-\t\t\t\t\t\t\t
5,5,Chandigarh,81.94,82.17,82.39,82.62,82.85,83.07,83.30,83.53,83.75,83.98,86.05,86.05\t\t\t\t\t\t\t
6,6,Chhattisgarh,64.66,66.41,68.17,69.92,71.68,73.43,75.19,76.94,78.70,80.45,70.28,-\t\t\t\t\t\t\t
7,7,D & N HAVELI,57.63,60.13,62.63,65.13,67.63,70.13,72.63,75.13,77.63,80.13,76.24,-\t\t\t\t\t\t\t
8,8,DAMAN & DIU,78.18,80.68,83.18,85.68,88.18,90.68,93.18,95.68,98.18,-,87.10,-\t\t\t\t\t\t\t
9,9,Delhi,81.67,81.79,81.92,82.04,82.17,82.29,82.42,82.55,82.67,82.80,86.21,-\t\t\t\t\t\t\t
10,10,Goa,82.01,82.29,82.58,82.87,83.15,83.44,83.73,84.01,84.30,84.59,88.70,-\t\t\t\t\t\t\t
11,11,Gujarat,69.14,70.96,72.79,74.61,76.44,78.26,80.09,81.91,83.74,85.56,78.03,-\t\t\t\t\t\t\t
12,12,Haryana,67.91,68.81,69.70,70.60,71.49,72.39,73.29,74.18,75.08,75.98,75.55,-\t\t\t\t\t\t\t
13,13,Himachal Pradesh,76.48,77.04,77.61,78.17,78.74,79.30,79.87,80.43,81.00,81.56,82.80,-\t\t\t\t\t\t\t
14,14,JAMMU & KASHMIR,55.52,57.00,58.49,59.97,61.45,62.93,64.42,65.90,67.38,68.86,67.16,-\t\t\t\t\t\t\t
15,15,Jharkhand,53.56,55.86,58.16,60.46,62.76,65.06,67.36,69.66,71.96,74.26,66.41,-\t\t\t\t\t\t\t
16,16,Karnataka,66.06,67.55,69.04,70.53,72.02,73.51,75.00,76.49,77.98,79.47,75.36,-\t\t\t\t\t\t\t
17,17,Kerala,90.86,91.06,91.26,91.46,91.66,91.86,92.06,92.26,92.46,92.66,94.00,-\t\t\t\t\t\t\t
18,18,Lakshadweep,86.66,86.89,87.11,87.34,87.57,87.79,88.02,88.25,88.48,88.70,91.85,-\t\t\t\t\t\t\t
19,19,Madhya Pradesh,63.74,64.47,65.20,65.93,66.66,67.39,68.12,68.85,69.58,70.31,69.32,-\t\t\t\t\t\t\t
20,20,Maharashtra,76.84,77.65,78.46,79.27,80.08,80.89,81.70,82.51,83.32,84.13,82.34,-\t\t\t\t\t\t\t
21,21,Manipur,70.50,71.45,72.41,73.37,74.33,75.28,76.24,77.20,78.16,79.11,76.94,-\t\t\t\t\t\t\t
22,22,Meghalaya,62.56,63.35,64.14,64.94,65.73,66.52,67.31,68.10,68.89,69.68,74.43,-\t\t\t\t\t\t\t
23,23,Mizoram,88.80,89.27,89.74,90.21,90.69,91.16,91.63,92.10,92.58,93.05,91.33,-\t\t\t\t\t\t\t
24,24,Nagaland,66.59,68.48,70.36,72.25,74.14,76.02,77.91,79.80,81.69,83.57,79.55,-\t\t\t\t\t\t\t
25,25,Odisha,63.08,64.49,65.90,67.32,68.73,70.14,71.55,72.96,74.38,75.79,72.87,-\t\t\t\t\t\t\t
26,26,Puducherry,81.24,81.46,81.69,81.91,82.14,82.36,82.59,82.82,83.04,83.27,85.85,-\t\t\t\t\t\t\t
27,27,Punjab,69.65,70.55,71.44,72.34,73.23,74.13,75.02,75.92,76.81,77.71,75.84,-\t\t\t\t\t\t\t
28,28,Rajasthan,60.41,61.53,62.66,63.79,64.91,66.04,67.17,68.29,69.42,70.55,66.11,-\t\t\t\t\t\t\t
29,29,Sikkim,68.81,69.42,70.04,70.65,71.27,71.88,72.50,73.11,73.73,74.34,81.42,-\t\t\t\t\t\t\t
30,30,Tamil Nadu,73.45,74.12,74.79,75.46,76.14,76.81,77.48,78.15,78.83,79.50,80.33,-\t\t\t\t\t\t\t
31,31,Tripura,73.19,74.35,75.51,76.68,77.84,79.00,80.16,81.32,82.48,83.65,80.09,-\t\t\t\t\t\t\t
32,32,Uttar Pradesh,56.27,57.43,58.59,59.75,60.91,62.07,63.23,64.39,65.55,66.71,67.68,-\t\t\t\t\t\t\t
33,33,Uttarakhand,71.62,72.09,72.56,73.03,73.50,73.97,74.44,74.91,75.38,75.85,78.82,-\t\t\t\t\t\t\t
34,34,West Bengal,68.64,69.64,70.64,71.65,72.65,73.65,74.66,75.66,76.66,77.67,76.26,-\t\t\t\t\t\t\t
35,35,India,64.84,65.74,66.64,67.55,68.45,69.35,70.26,71.16,72.06,72.97,74.04,-\t\t\t\t\t\t\t

13. Area Covered by All States (in sq.km)

In [20]:
df13 = pd.read_excel("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\Final Worksheets\\All states area covered.xlsx")
df13

,Unnamed: 0,State/UT,2001 Area (in sq. km),2002 Area (in sq. km),2003 Area (in sq. km),2004 Area (in sq. km),2005 Area (in sq. km),2006 Area (in sq. km),2007 Area (in sq. km),2008 Area (in sq. km),2009 Area (in sq. km),2010 Area (in sq. km),2011 Area (in sq. km),Change in Area (2001-2011)
0,0,A & N ISLANDS,8249,8249,8249,8249,8249,8249,8249,8249,8249,8249,8249,0
1,1,Andhra Pradesh,275045,275045,275045,275045,275045,275045,275045,275045,275045,275045,275045,0
2,2,Arunachal Pradesh,83743,83743,83743,83743,83743,83743,83743,83743,83743,83743,83743,0
3,3,Assam,78438,78438,78438,78438,78438,78438,78438,78438,78438,78438,78438,0
4,4,Bihar,94163,94163,94163,94163,94163,94163,94163,94163,94163,94163,94163,0
5,5,Chandigarh,114,114,114,114,114,114,114,114,114,114,114,0
6,6,Chhattisgarh,135191,135191,135191,135191,135191,135191,135191,135191,135191,135191,135191,0
7,7,D & N HAVELI,491,491,491,491,491,491,491,491,491,491,491,0
8,8,Daman & Diu,112,112,112,112,112,112,112,112,112,112,112,0
9,9,Delhi,1483,1483,1483,1483,1483,1483,1483,1483,1483,1484,1484,1
10,10,Goa,3702,3702,3702,3702,3702,3702,3702,3702,3702,3702,3702,0
11,11,Gujarat,196024,196024,196024,196024,196024,196024,196024,196024,196024,196024,196024,0
12,12,Haryana,44212,44212,44212,44212,44212,44212,44212,44212,44212,44212,44212,0
13,13,Himachal Pradesh,55673,55673,55673,55673,55673,55673,55673,55673,55673,55673,55673,0
14,14,Jammu & Kashmir,222236,222236,222236,222236,222236,222236,222236,222236,222236,222236,222236,0
15,15,Jharkhand,74677,74677,74677,74677,74677,74677,74677,74677,74677,74677,74677,0
16,16,Karnataka,191791,191791,191791,191791,191791,191791,191791,191791,191791,191791,191791,0
17,17,Kerala,38852,38852,38852,38852,38852,38852,38852,38852,38852,38863,38863,11
18,18,Lakshadweep,32,32,32,32,32,32,32,32,32,32,32,0
19,19,Madhya Pradesh,308245,308245,308245,308245,308245,308245,308245,308245,308245,308245,308245,0
20,20,Maharashtra,307713,307713,307713,307713,307713,307713,307713,307713,307713,307713,307713,0
21,21,Manipur,22327,22327,22327,22327,22327,22327,22327,22327,22327,22327,22327,0
22,22,Meghalaya,22429,22429,22429,22429,22429,22429,22429,22429,22429,22429,22429,0
23,23,Mizoram,21081,21081,21081,21081,21081,21081,21081,21081,21081,21081,21081,0
24,24,Nagaland,16579,16579,16579,16579,16579,16579,16579,16579,16579,16579,16579,0
25,25,Odisha,155707,155707,155707,155707,155707,155707,155707,155707,155707,155707,155707,0
26,26,Puducherry,479,479,479,479,479,479,479,479,479,479,479,0
27,27,Punjab,50362,50362,50362,50362,50362,50362,50362,50362,50362,50362,50362,0
28,28,Rajasthan,342239,342239,342239,342239,342239,342239,342239,342239,342239,342239,342239,0
29,29,Sikkim,7096,7096,7096,7096,7096,7096,7096,7096,7096,7096,7096,0
30,30,Tamil Nadu,130060,130060,130060,130060,130060,130060,130060,130060,130060,130058,130058,-2
31,31,Tripura,10486,10486,10486,10486,10486,10486,10486,10486,10486,10486,10486,0
32,32,Uttar Pradesh,240928,240928,240928,240928,240928,240928,240928,240928,240928,240928,240928,0
33,33,Uttarakhand,53566,53566,53566,53566,53566,53566,53566,53566,53566,53566,53483,-83
34,34,West Bengal,88752,88752,88752,88752,88752,88752,88752,88752,88752,88752,88752,0

Now let's compile all the above datasets into one megaset

In [33]:
df = pd.read_excel("C:\\Users\\adwit\\OneDrive\\Desktop\\Capstone Project\\Final Worksheets\\India Crime Stats.xlsx")
df

,STATE/UT,YEAR,STATE AND YEAR,POPULATION,LITERACY RATE,AREA (in sq. km),MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,...,TOTAL Dacoity,TOTAL Robbery,TOTAL Burglary,TOTAL Theft,Total Petty Crime,Human Rights Violation Cases,Policemen Chargesheeted,Polimen Charged,Crimes Against Women,TOTAL IPC CRIMES
0,ANDHRA PRADESH,2001,ANDHRA PRADESH2001,76210007,60.47,275045.0,2602,1555,136,871,...,214.0,629.0,7220.0,16751.0,24814.0,45.0,29.0,2.0,13669,130089
1,ARUNACHAL PRADESH,2001,ARUNACHAL PRADESH2001,1097968,54.34,83743.0,83,53,3,33,...,22.0,84.0,248.0,443.0,797.0,11.0,6.0,0.0,180,2342
2,ASSAM,2001,ASSAM2001,26655528,63.25,78438.0,1356,481,40,817,...,532.0,687.0,2423.0,5367.0,9009.0,35.0,0.0,0.0,4048,36877
3,BIHAR,2001,BIHAR2001,82998509,47.00,94163.0,3643,3419,250,888,...,1291.0,2203.0,3233.0,9701.0,16428.0,0.0,0.0,0.0,4489,88432
4,CHHATTISGARH,2001,CHHATTISGARH2001,20733232,64.66,135191.0,880,529,45,959,...,87.0,338.0,4144.0,4812.0,9381.0,0.0,0.0,0.0,3964,38460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,CHANDIGARH,2012,CHANDIGARH2012,1144839,86.05,NaN,21,44,5,27,...,3.0,63.0,235.0,1549.0,1850.0,NaN,NaN,NaN,241,3606
404,D & N HAVELI,2012,D & N HAVELI2012,259148,NaN,NaN,7,2,0,3,...,2.0,2.0,22.0,68.0,94.0,NaN,NaN,NaN,14,318
405,DAMAN & DIU,2012,DAMAN & DIU2012,191924,NaN,NaN,3,5,0,5,...,1.0,3.0,26.0,55.0,85.0,NaN,NaN,NaN,8,239
406,LAKSHADWEEP,2012,LAKSHADWEEP2012,74578,NaN,NaN,0,0,0,0,...,0.0,0.0,3.0,7.0,10.0,NaN,NaN,NaN,2,60
407,PUDUCHERRY,2012,PUDUCHERRY2012,1148900,NaN,NaN,29,27,12,13,...,5.0,16.0,77.0,658.0,756.0,NaN,NaN,NaN,46,4281

Now, we can begin analysing our dataset:

- Check shape
- General Info
- Stats
- Null Values
- Duplicates

In [34]:
df.shape

(408, 52)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 52 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   STATE/UT                                             408 non-null    object
 1   YEAR                                                 408 non-null    int64
 2   STATE AND YEAR                                       408 non-null    object
 3   POPULATION                                           408 non-null    int64
 4   LITERACY RATE                                        375 non-null    float64
 5   AREA (in sq. km)                                     374 non-null    float64
 6   MURDER                                               408 non-null    int64
 7   ATTEMPT TO MURDER                                    408 non-null    int64
 8   CULPABLE HOMICIDE NOT AMOUNTING TO MURDER            408 non-null    int64
 9   RAPE                                                 408 non-null    int64
 10  CUSTODIAL RAPE                                       408 non-null    int64
 11  OTHER RAPE                                           408 non-null    int64
 12  KIDNAPPING & ABDUCTION                               408 non-null    int64
 13  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS          408 non-null    int64
 14  KIDNAPPING AND ABDUCTION OF OTHERS                   408 non-null    int64
 15  DACOITY                                              408 non-null    int64
 16  PREPARATION AND ASSEMBLY FOR DACOITY                 408 non-null    int64
 17  ROBBERY                                              408 non-null    int64
 18  BURGLARY                                             408 non-null    int64
 19  THEFT                                                408 non-null    int64
 20  AUTO THEFT                                           408 non-null    int64
 21  OTHER THEFT                                          408 non-null    int64
 22  RIOTS                                                408 non-null    int64
 23  CRIMINAL BREACH OF TRUST                             408 non-null    int64
 24  CHEATING                                             408 non-null    int64
 25  COUNTERFIETING                                       408 non-null    int64
 26  ARSON                                                408 non-null    int64
 27  HURT/GREVIOUS HURT                                   408 non-null    int64
 28  DOWRY DEATHS                                         408 non-null    int64
 29  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  408 non-null    int64
 30  INSULT TO MODESTY OF WOMEN                           408 non-null    int64
 31  CRUELTY BY HUSBAND OR HIS RELATIVES                  408 non-null    int64
 32  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES          408 non-null    int64
 33  CAUSING DEATH BY NEGLIGENCE                          408 non-null    int64
 34  OTHER IPC CRIMES                                     408 non-null    int64
 35  CRIMES AGAINST SC                                    408 non-null    int64
 36  CRIMES AGAINST ST                                    408 non-null    int64
 37  CRIMES AGAINST CHILDREN                              257 non-null    float64
 38  JUVENILES APPREHENDED                                330 non-null    float64
 39  POLICEMEN KILLED                                     340 non-null    float64
 40  THEFT CASES REPOERTED                                139 non-null    float64
 41  THEFT VALUE TOTAL                                    139 non-null    float64
 42  TOTAL  Dacoity                                       407 non-null    float64
 43  TOTAL  Robbery                                       407 non-null    float64
 44  TOTAL  Burglary                                      407 non-null    float64
 45  TOTAL  Theft                                         407 non-null    float64
 46  Total Petty Crime                                    407 non-null    float64
 47  Human Rights Violation Cases                         210 non-null    float64
 48  Policemen Chargesheeted                              210 non-null    float64
 49  Polimen Charged                                      210 non-null    float64
 50  Crimes Against Women                                 408 non-null    int64
 51  TOTAL IPC CRIMES                                     408 non-null    int64
dtypes: float64(15), int64(35), object(2)
memory usage: 165.9+ KB

We can note that we have quite a few nulls in some columns, we need to amend this

In [36]:
df.isnull().sum()

STATE/UT                                                 0
YEAR                                                     0
STATE AND YEAR                                           0
POPULATION                                               0
LITERACY RATE                                           33
AREA (in sq. km)                                        34
MURDER                                                   0
ATTEMPT TO MURDER                                        0
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER                0
RAPE                                                     0
CUSTODIAL RAPE                                           0
OTHER RAPE                                               0
KIDNAPPING & ABDUCTION                                   0
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS              0
KIDNAPPING AND ABDUCTION OF OTHERS                       0
DACOITY                                                  0
PREPARATION AND ASSEMBLY FOR DACOITY                     0
ROBBERY                                                  0
BURGLARY                                                 0
THEFT                                                    0
AUTO THEFT                                               0
OTHER THEFT                                              0
RIOTS                                                    0
CRIMINAL BREACH OF TRUST                                 0
CHEATING                                                 0
COUNTERFIETING                                           0
ARSON                                                    0
HURT/GREVIOUS HURT                                       0
DOWRY DEATHS                                             0
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY      0
INSULT TO MODESTY OF WOMEN                               0
CRUELTY BY HUSBAND OR HIS RELATIVES                      0
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES              0
CAUSING DEATH BY NEGLIGENCE                              0
OTHER IPC CRIMES                                         0
CRIMES AGAINST SC                                        0
CRIMES AGAINST ST                                        0
CRIMES AGAINST CHILDREN                                151
JUVENILES APPREHENDED                                   78
POLICEMEN KILLED                                        68
THEFT CASES REPOERTED                                  269
THEFT VALUE TOTAL                                      269
TOTAL  Dacoity                                           1
TOTAL  Robbery                                           1
TOTAL  Burglary                                          1
TOTAL  Theft                                             1
Total Petty Crime                                        1
Human Rights Violation Cases                           198
Policemen Chargesheeted                                198
Polimen Charged                                        198
Crimes Against Women                                     0
TOTAL IPC CRIMES                                         0
dtype: int64

In [37]:
df = df.drop(columns = ['STATE AND YEAR'], axis=1)
df

,STATE/UT,YEAR,POPULATION,LITERACY RATE,AREA (in sq. km),MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,...,TOTAL Dacoity,TOTAL Robbery,TOTAL Burglary,TOTAL Theft,Total Petty Crime,Human Rights Violation Cases,Policemen Chargesheeted,Polimen Charged,Crimes Against Women,TOTAL IPC CRIMES
0,ANDHRA PRADESH,2001,76210007,60.47,275045.0,2602,1555,136,871,0,...,214.0,629.0,7220.0,16751.0,24814.0,45.0,29.0,2.0,13669,130089
1,ARUNACHAL PRADESH,2001,1097968,54.34,83743.0,83,53,3,33,0,...,22.0,84.0,248.0,443.0,797.0,11.0,6.0,0.0,180,2342
2,ASSAM,2001,26655528,63.25,78438.0,1356,481,40,817,0,...,532.0,687.0,2423.0,5367.0,9009.0,35.0,0.0,0.0,4048,36877
3,BIHAR,2001,82998509,47.00,94163.0,3643,3419,250,888,0,...,1291.0,2203.0,3233.0,9701.0,16428.0,0.0,0.0,0.0,4489,88432
4,CHHATTISGARH,2001,20733232,64.66,135191.0,880,529,45,959,0,...,87.0,338.0,4144.0,4812.0,9381.0,0.0,0.0,0.0,3964,38460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,CHANDIGARH,2012,1144839,86.05,NaN,21,44,5,27,0,...,3.0,63.0,235.0,1549.0,1850.0,NaN,NaN,NaN,241,3606
404,D & N HAVELI,2012,259148,NaN,NaN,7,2,0,3,0,...,2.0,2.0,22.0,68.0,94.0,NaN,NaN,NaN,14,318
405,DAMAN & DIU,2012,191924,NaN,NaN,3,5,0,5,0,...,1.0,3.0,26.0,55.0,85.0,NaN,NaN,NaN,8,239
406,LAKSHADWEEP,2012,74578,NaN,NaN,0,0,0,0,0,...,0.0,0.0,3.0,7.0,10.0,NaN,NaN,NaN,2,60
407,PUDUCHERRY,2012,1148900,NaN,NaN,29,27,12,13,0,...,5.0,16.0,77.0,658.0,756.0,NaN,NaN,NaN,46,4281

In [38]:
df['LITERACY RATE'] = df['LITERACY RATE'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 51 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   STATE/UT                                             408 non-null    object
 1   YEAR                                                 408 non-null    int64
 2   POPULATION                                           408 non-null    int64
 3   LITERACY RATE                                        375 non-null    float64
 4   AREA (in sq. km)                                     374 non-null    float64
 5   MURDER                                               408 non-null    int64
 6   ATTEMPT TO MURDER                                    408 non-null    int64
 7   CULPABLE HOMICIDE NOT AMOUNTING TO MURDER            408 non-null    int64
 8   RAPE                                                 408 non-null    int64
 9   CUSTODIAL RAPE                                       408 non-null    int64
 10  OTHER RAPE                                           408 non-null    int64
 11  KIDNAPPING & ABDUCTION                               408 non-null    int64
 12  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS          408 non-null    int64
 13  KIDNAPPING AND ABDUCTION OF OTHERS                   408 non-null    int64
 14  DACOITY                                              408 non-null    int64
 15  PREPARATION AND ASSEMBLY FOR DACOITY                 408 non-null    int64
 16  ROBBERY                                              408 non-null    int64
 17  BURGLARY                                             408 non-null    int64
 18  THEFT                                                408 non-null    int64
 19  AUTO THEFT                                           408 non-null    int64
 20  OTHER THEFT                                          408 non-null    int64
 21  RIOTS                                                408 non-null    int64
 22  CRIMINAL BREACH OF TRUST                             408 non-null    int64
 23  CHEATING                                             408 non-null    int64
 24  COUNTERFIETING                                       408 non-null    int64
 25  ARSON                                                408 non-null    int64
 26  HURT/GREVIOUS HURT                                   408 non-null    int64
 27  DOWRY DEATHS                                         408 non-null    int64
 28  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  408 non-null    int64
 29  INSULT TO MODESTY OF WOMEN                           408 non-null    int64
 30  CRUELTY BY HUSBAND OR HIS RELATIVES                  408 non-null    int64
 31  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES          408 non-null    int64
 32  CAUSING DEATH BY NEGLIGENCE                          408 non-null    int64
 33  OTHER IPC CRIMES                                     408 non-null    int64
 34  CRIMES AGAINST SC                                    408 non-null    int64
 35  CRIMES AGAINST ST                                    408 non-null    int64
 36  CRIMES AGAINST CHILDREN                              257 non-null    float64
 37  JUVENILES APPREHENDED                                330 non-null    float64
 38  POLICEMEN KILLED                                     340 non-null    float64
 39  THEFT CASES REPOERTED                                139 non-null    float64
 40  THEFT VALUE TOTAL                                    139 non-null    float64
 41  TOTAL  Dacoity                                       407 non-null    float64
 42  TOTAL  Robbery                                       407 non-null    float64
 43  TOTAL  Burglary                                      407 non-null    float64
 44  TOTAL  Theft                                         407 non-null    float64
 45  Total Petty Crime                                    407 non-null    float64
 46  Human Rights Violation Cases                         210 non-null    float64
 47  Policemen Chargesheeted                              210 non-null    float64
 48  Polimen Charged                                      210 non-null    float64
 49  Crimes Against Women                                 408 non-null    int64
 50  TOTAL IPC CRIMES                                     408 non-null    int64
dtypes: float64(15), int64(35), object(1)
memory usage: 162.7+ KB

Now, let's use iterative imputer on all feature columns with null values

In [39]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [40]:
ii = IterativeImputer()

In [41]:
df.columns

Index(['STATE/UT', 'YEAR', 'POPULATION', 'LITERACY RATE', 'AREA (in sq. km)',
       'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'CRIMES AGAINST SC',
       'CRIMES AGAINST ST', 'CRIMES AGAINST CHILDREN', 'JUVENILES APPREHENDED',
       'POLICEMEN KILLED', 'THEFT CASES REPOERTED', 'THEFT VALUE TOTAL',
       'TOTAL  Dacoity', 'TOTAL  Robbery', 'TOTAL  Burglary', 'TOTAL  Theft',
       'Total Petty Crime', 'Human Rights Violation Cases',
       'Policemen Chargesheeted', 'Polimen Charged', 'Crimes Against Women',
       'TOTAL IPC CRIMES'],
      dtype='object')

In [42]:
df.isnull().sum()

STATE/UT                                                 0
YEAR                                                     0
POPULATION                                               0
LITERACY RATE                                           33
AREA (in sq. km)                                        34
MURDER                                                   0
ATTEMPT TO MURDER                                        0
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER                0
RAPE                                                     0
CUSTODIAL RAPE                                           0
OTHER RAPE                                               0
KIDNAPPING & ABDUCTION                                   0
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS              0
KIDNAPPING AND ABDUCTION OF OTHERS                       0
DACOITY                                                  0
PREPARATION AND ASSEMBLY FOR DACOITY                     0
ROBBERY                                                  0
BURGLARY                                                 0
THEFT                                                    0
AUTO THEFT                                               0
OTHER THEFT                                              0
RIOTS                                                    0
CRIMINAL BREACH OF TRUST                                 0
CHEATING                                                 0
COUNTERFIETING                                           0
ARSON                                                    0
HURT/GREVIOUS HURT                                       0
DOWRY DEATHS                                             0
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY      0
INSULT TO MODESTY OF WOMEN                               0
CRUELTY BY HUSBAND OR HIS RELATIVES                      0
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES              0
CAUSING DEATH BY NEGLIGENCE                              0
OTHER IPC CRIMES                                         0
CRIMES AGAINST SC                                        0
CRIMES AGAINST ST                                        0
CRIMES AGAINST CHILDREN                                151
JUVENILES APPREHENDED                                   78
POLICEMEN KILLED                                        68
THEFT CASES REPOERTED                                  269
THEFT VALUE TOTAL                                      269
TOTAL  Dacoity                                           1
TOTAL  Robbery                                           1
TOTAL  Burglary                                          1
TOTAL  Theft                                             1
Total Petty Crime                                        1
Human Rights Violation Cases                           198
Policemen Chargesheeted                                198
Polimen Charged                                        198
Crimes Against Women                                     0
TOTAL IPC CRIMES                                         0
dtype: int64

In [43]:
iter_col = pd.DataFrame(ii.fit_transform(df[['LITERACY RATE', 'AREA (in sq. km)','CRIMES AGAINST CHILDREN', 'JUVENILES APPREHENDED','POLICEMEN KILLED', 'THEFT CASES REPOERTED', 'THEFT VALUE TOTAL','TOTAL  Dacoity', 'TOTAL  Robbery', 'TOTAL  Burglary', 'TOTAL  Theft', 'Total Petty Crime', 'Human Rights Violation Cases', 'Policemen Chargesheeted', 'Polimen Charged']]),
                        columns = ['LITERACY RATE_ITER', 'AREA (in sq. km)_ITER','CRIMES AGAINST CHILDREN_ITER', 'JUVENILES APPREHENDED_ITER','POLICEMEN KILLED_ITER', 'THEFT CASES REPOERTED_ITER', 'THEFT VALUE TOTAL_ITER','TOTAL  Dacoity_ITER', 'TOTAL  Robbery_ITER', 'TOTAL  Burglary_ITER', 'TOTAL  Theft_ITER', 'Total Petty Crime_ITER', 'Human Rights Violation Cases_ITER', 'Policemen Chargesheeted_ITER', 'Polimen Charged_ITER'])

df = df.join(iter_col)
df

,STATE/UT,YEAR,POPULATION,LITERACY RATE,AREA (in sq. km),MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,...,THEFT CASES REPOERTED_ITER,THEFT VALUE TOTAL_ITER,TOTAL Dacoity_ITER,TOTAL Robbery_ITER,TOTAL Burglary_ITER,TOTAL Theft_ITER,Total Petty Crime_ITER,Human Rights Violation Cases_ITER,Policemen Chargesheeted_ITER,Polimen Charged_ITER
0,ANDHRA PRADESH,2001,76210007,60.47,275045.0,2602,1555,136,871,0,...,24814.000000,4.231238e+08,214.0,629.0,7220.0,16751.0,24814.0,45.000000,29.000000,2.000000
1,ARUNACHAL PRADESH,2001,1097968,54.34,83743.0,83,53,3,33,0,...,797.000000,2.583082e+07,22.0,84.0,248.0,443.0,797.0,11.000000,6.000000,0.000000
2,ASSAM,2001,26655528,63.25,78438.0,1356,481,40,817,0,...,9009.000000,9.193986e+07,532.0,687.0,2423.0,5367.0,9009.0,35.000000,0.000000,0.000000
3,BIHAR,2001,82998509,47.00,94163.0,3643,3419,250,888,0,...,16428.000000,4.035582e+08,1291.0,2203.0,3233.0,9701.0,16428.0,0.000000,0.000000,0.000000
4,CHHATTISGARH,2001,20733232,64.66,135191.0,880,529,45,959,0,...,9465.378148,3.694227e+08,87.0,338.0,4144.0,4812.0,9381.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,CHANDIGARH,2012,1144839,86.05,NaN,21,44,5,27,0,...,1850.000000,8.347295e+07,3.0,63.0,235.0,1549.0,1850.0,131751.557697,7186.027584,4151.271797
404,D & N HAVELI,2012,259148,NaN,NaN,7,2,0,3,0,...,94.000000,1.383436e+07,2.0,2.0,22.0,68.0,94.0,84499.086284,43587.624228,15586.791991
405,DAMAN & DIU,2012,191924,NaN,NaN,3,5,0,5,0,...,85.000000,1.528780e+07,1.0,3.0,26.0,55.0,85.0,84499.096509,43587.624639,15586.789241
406,LAKSHADWEEP,2012,74578,NaN,NaN,0,0,0,0,0,...,10.000000,2.799750e+05,0.0,0.0,3.0,7.0,10.0,84498.879256,43587.673823,15586.816122
407,PUDUCHERRY,2012,1148900,NaN,NaN,29,27,12,13,0,...,756.000000,3.923804e+07,5.0,16.0,77.0,658.0,756.0,84498.511533,43587.550349,15586.680370

In [44]:
drop_columns = ['LITERACY RATE', 'AREA (in sq. km)','CRIMES AGAINST CHILDREN', 'JUVENILES APPREHENDED','POLICEMEN KILLED', 'THEFT CASES REPOERTED', 'THEFT VALUE TOTAL','TOTAL  Dacoity', 'TOTAL  Robbery', 'TOTAL  Burglary', 'TOTAL  Theft', 'Total Petty Crime', 'Human Rights Violation Cases', 'Policemen Chargesheeted', 'Polimen Charged']

In [45]:
df = df.drop(columns = drop_columns, axis=1)
df

,STATE/UT,YEAR,POPULATION,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,THEFT CASES REPOERTED_ITER,THEFT VALUE TOTAL_ITER,TOTAL Dacoity_ITER,TOTAL Robbery_ITER,TOTAL Burglary_ITER,TOTAL Theft_ITER,Total Petty Crime_ITER,Human Rights Violation Cases_ITER,Policemen Chargesheeted_ITER,Polimen Charged_ITER
0,ANDHRA PRADESH,2001,76210007,2602,1555,136,871,0,871,1182,...,24814.000000,4.231238e+08,214.0,629.0,7220.0,16751.0,24814.0,45.000000,29.000000,2.000000
1,ARUNACHAL PRADESH,2001,1097968,83,53,3,33,0,33,83,...,797.000000,2.583082e+07,22.0,84.0,248.0,443.0,797.0,11.000000,6.000000,0.000000
2,ASSAM,2001,26655528,1356,481,40,817,0,817,1480,...,9009.000000,9.193986e+07,532.0,687.0,2423.0,5367.0,9009.0,35.000000,0.000000,0.000000
3,BIHAR,2001,82998509,3643,3419,250,888,0,888,2159,...,16428.000000,4.035582e+08,1291.0,2203.0,3233.0,9701.0,16428.0,0.000000,0.000000,0.000000
4,CHHATTISGARH,2001,20733232,880,529,45,959,0,959,207,...,9465.378148,3.694227e+08,87.0,338.0,4144.0,4812.0,9381.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,CHANDIGARH,2012,1144839,21,44,5,27,0,27,87,...,1850.000000,8.347295e+07,3.0,63.0,235.0,1549.0,1850.0,131751.557697,7186.027584,4151.271797
404,D & N HAVELI,2012,259148,7,2,0,3,0,3,13,...,94.000000,1.383436e+07,2.0,2.0,22.0,68.0,94.0,84499.086284,43587.624228,15586.791991
405,DAMAN & DIU,2012,191924,3,5,0,5,0,5,3,...,85.000000,1.528780e+07,1.0,3.0,26.0,55.0,85.0,84499.096509,43587.624639,15586.789241
406,LAKSHADWEEP,2012,74578,0,0,0,0,0,0,0,...,10.000000,2.799750e+05,0.0,0.0,3.0,7.0,10.0,84498.879256,43587.673823,15586.816122
407,PUDUCHERRY,2012,1148900,29,27,12,13,0,13,19,...,756.000000,3.923804e+07,5.0,16.0,77.0,658.0,756.0,84498.511533,43587.550349,15586.680370

In [46]:
df.isnull().sum()

STATE/UT                                               0
YEAR                                                   0
POPULATION                                             0
MURDER                                                 0
ATTEMPT TO MURDER                                      0
CULPABLE HOMICIDE NOT AMOUNTING TO MURDER              0
RAPE                                                   0
CUSTODIAL RAPE                                         0
OTHER RAPE                                             0
KIDNAPPING & ABDUCTION                                 0
KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS            0
KIDNAPPING AND ABDUCTION OF OTHERS                     0
DACOITY                                                0
PREPARATION AND ASSEMBLY FOR DACOITY                   0
ROBBERY                                                0
BURGLARY                                               0
THEFT                                                  0
AUTO THEFT                                             0
OTHER THEFT                                            0
RIOTS                                                  0
CRIMINAL BREACH OF TRUST                               0
CHEATING                                               0
COUNTERFIETING                                         0
ARSON                                                  0
HURT/GREVIOUS HURT                                     0
DOWRY DEATHS                                           0
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    0
INSULT TO MODESTY OF WOMEN                             0
CRUELTY BY HUSBAND OR HIS RELATIVES                    0
IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES            0
CAUSING DEATH BY NEGLIGENCE                            0
OTHER IPC CRIMES                                       0
CRIMES AGAINST SC                                      0
CRIMES AGAINST ST                                      0
Crimes Against Women                                   0
TOTAL IPC CRIMES                                       0
LITERACY RATE_ITER                                     0
AREA (in sq. km)_ITER                                  0
CRIMES AGAINST CHILDREN_ITER                           0
JUVENILES APPREHENDED_ITER                             0
POLICEMEN KILLED_ITER                                  0
THEFT CASES REPOERTED_ITER                             0
THEFT VALUE TOTAL_ITER                                 0
TOTAL  Dacoity_ITER                                    0
TOTAL  Robbery_ITER                                    0
TOTAL  Burglary_ITER                                   0
TOTAL  Theft_ITER                                      0
Total Petty Crime_ITER                                 0
Human Rights Violation Cases_ITER                      0
Policemen Chargesheeted_ITER                           0
Polimen Charged_ITER                                   0
dtype: int64

In [47]:
df.describe()

,YEAR,POPULATION,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,...,THEFT CASES REPOERTED_ITER,THEFT VALUE TOTAL_ITER,TOTAL Dacoity_ITER,TOTAL Robbery_ITER,TOTAL Burglary_ITER,TOTAL Theft_ITER,Total Petty Crime_ITER,Human Rights Violation Cases_ITER,Policemen Chargesheeted_ITER,Polimen Charged_ITER
count,408.000000,4.080000e+02,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,...,4.080000e+02,4.080000e+02,4.080000e+02,4.080000e+02,4.080000e+02,4.080000e+02,4.080000e+02,4.080000e+02,4.080000e+02,4.080000e+02
mean,2006.500000,3.257161e+07,971.416667,849.754902,107.183824,570.375000,0.063725,570.311275,813.171569,608.473039,...,-1.113131e+38,-1.169602e+33,-2.576730e+20,4.290948e+20,1.107981e+21,-1.767875e+22,-5.297568e+22,-4.438906e+29,2.198487e+28,-5.332299e+27
std,3.456291,4.130209e+07,1229.031743,1164.326125,257.514272,704.930637,0.397607,704.883153,1204.731087,970.140758,...,2.248415e+39,2.362479e+34,5.204739e+21,8.667289e+21,2.238012e+22,3.570932e+23,1.070056e+24,8.966150e+30,4.440725e+29,1.077072e+29
min,2001.000000,6.065000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-4.541576e+40,-4.771974e+35,-1.051306e+23,0.000000e+00,0.000000e+00,-7.212930e+24,-2.161408e+25,-1.811074e+32,-1.933149e+02,-2.175578e+30
25%,2003.750000,1.224418e+06,45.000000,29.750000,4.000000,26.750000,0.000000,26.750000,32.750000,14.000000,...,1.310000e+02,3.694160e+08,4.000000e+00,1.875000e+01,1.585000e+02,4.497500e+02,7.207500e+02,0.000000e+00,-6.578374e-02,0.000000e+00
50%,2006.500000,1.622985e+07,381.000000,432.500000,28.000000,281.500000,0.000000,281.500000,267.000000,196.500000,...,4.601378e+03,3.694182e+08,4.200000e+01,1.640000e+02,1.225500e+03,2.643000e+03,4.364500e+03,1.558691e+00,0.000000e+00,0.000000e+00
75%,2009.250000,5.740046e+07,1479.750000,1407.500000,94.000000,961.500000,0.000000,961.500000,1081.000000,828.750000,...,4.018538e+04,3.694257e+08,1.990000e+02,7.950000e+02,4.120000e+03,1.427150e+04,1.974725e+04,5.099937e+00,2.834916e+00,4.836498e-01
max,2012.000000,2.058880e+08,7601.000000,7964.000000,1616.000000,3425.000000,5.000000,3425.000000,8878.000000,7910.000000,...,5.367680e+06,5.157062e+09,1.319000e+03,1.750707e+23,4.520562e+23,5.344900e+04,7.478400e+04,1.317532e+05,8.969825e+30,1.558682e+04

WE HAVE NOW CLEANED AND PREPARED OUR DATASET.

LET'S SAVE THOS DATASET TO USE IT FOR LATER ANALYSIS

In [49]:
file_name = 'C:\\Users\\adwit\\OneDrive\\Desktop\\Final_Dataset_India_Crimes.xlsx'

In [50]:
df.to_excel(file_name)